@using KBA.SellerApplication.Contract.Seller
@model DashboardDto
@section Css{
    <link rel="stylesheet" href="~/css/Internal/Dashboard.css">
}
<form method="post" asp-action="UpdateAndInsertProfile" asp-controller="Seller" id="frmAddId" class="text-right">
    <div class="col-xxl-4 col-sm-12 mb-3">
        <label asp-for="FirstName" class="control-label ml-2">اسم</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger form-text ml-2"></span>
    </div>
    <div class="col-xxl-4 col-sm-12 mb-3">
        <label asp-for="LastName" class="control-label ml-2">نام خانوادگی</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger form-text ml-2"></span>
    </div>
    <div class="col-xxl-4 col-sm-12 mb-3">
        <label asp-for="NationalNumber" class="control-label ml-2">شماره ملی</label>
        <input asp-for="NationalNumber" class="form-control" />
        <span asp-validation-for="NationalNumber" class="text-danger form-text ml-2"></span>
    </div>
    <div class="col-xxl-4 col-sm-12 mb-3">
        <label asp-for="Grade" class="control-label ml-2">درجه</label>
        <input asp-for="Grade" class="form-control" />
        <span asp-validation-for="Grade" class="text-danger form-text ml-2"></span>
    </div>
    <div class="col-xxl-4 col-sm-12 mb-3">
        <label asp-for="Title" class="control-label ml-2">عنوان</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger form-text ml-2"></span>
    </div> 
    <div class="col-xxl-4 col-sm-12 mb-3">
        <label asp-for="Email" class="control-label ml-2">ایمیل</label>
        <input type="email" id="email" name="Email" value="@Model.Email" class="form-control" placeholder="ایمیل خود را وارد کنید" required />
        <span asp-validation-for="Email" class="text-danger form-text ml-2"></span>
    </div>
    <div class="col-xxl-4 col-sm-12 mb-3">
        <label asp-for="PhoneNumber" class="control-label ml-2">شماره تلفن</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger form-text ml-2"></span>
    </div>
    <div class="col-xxl-4 col-sm-12 mb-3">
        <label asp-for="Gender" class="control-label ml-2">جنسیت</label>
        <input asp-for="Gender" class="form-control" />
        <span asp-validation-for="Gender" class="text-danger form-text ml-2"></span>
    </div>
    <div class="col-xxl-4 col-sm-12 mb-3">
        <label asp-for="Address" class="control-label ml-2">آدرس</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger form-text ml-2"></span>
    </div>
    <div class="col-xxl-4 col-sm-12 mb-3">
        <label asp-for="City" class="control-label ml-2">شهر</label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger form-text ml-2"></span>
    </div>
    <div class="col-xxl-4 col-sm-12 mb-3">
        <label asp-for="Province" class="control-label ml-2">استان</label>
        <input asp-for="Province" class="form-control" />
        <span asp-validation-for="Province" class="text-danger form-text ml-2"></span>
    </div>
    <div class="col-xxl-4 col-sm-12 mb-3">
        <label asp-for="Description" class="control-label ml-2">توضیحات</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger form-text ml-2"></span>
    </div>
    <div class="card-footer d-flex justify-content-start gap-5 mt-10">
        <button type="submit" id="btnSubmitForm" class="btn btn-primary mr-2 px-10">
            <span class="mx-2">ثبت</span>
        </button>
        <button type="reset" class="btn btn-secondary mr-2 px-10">لغو</button>
    </div>
</form>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

@section Scripts {
    <script src="/js/internal/dashboard.js"></script>
}