@using KBA.SellerApplication.Contract.Auth.Dto
@model SellerLoginReportDto

<h2>تاریخچه ورود </h2>
@section Css {
    <link rel="stylesheet" , href="~/css/internal/Dashboard.css" />
}
<table>
    <thead>
        <tr>
            <th>شماره تلفن</th>
            <th>زمان ورود</th>
            <th>زمان خروج</th>
            <th>آی‌پی آدرس</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.PhoneNumber</td>
            <td>@Model.LoginTime.ToString("yyyy/MM/dd HH:mm")</td>
            <td>@(Model.LogoutTime?.ToString("yyyy/MM/dd HH:mm") ?? "در حال حاضر")</td>
        </tr>
    </tbody>
</table>
