@{
    ViewData["Title"] = "Home Page";
}


@section Css {
    <link rel="stylesheet" href="~/css/Internal/Auth.css">
}

<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div class="login-container">
        <div id="login-form" class="login-box">
            <img src="/assets/media/logos/kermanbattery.png" alt="Logo" class="logo">
            <div class="flex justify-center border-b-2"></div>
            <h2>ورود به پنل نمایندگان کرمان باتری ارگ</h2>
            <form onsubmit="event.preventDefault(); getUserIP();">
                <input type="text" id="login-phone" placeholder="نام کاربری را وارد نمایید" required>
                <input type="password" id="login-password" placeholder="رمز عبور را وارد نمایید" required>
                <div class="captcha-container">
                    <input type="text" class="captcha-input" id="captcha-input" placeholder="کد امنیتی را وارد نمایید">
                    <div id="captcha" class="captcha-text">AB12CD</div>
                    <span id="captcha-error" style="color: red; display: none;">کد امنیتی اشتباه است</span>
                </div>
                <a href="#" class="forgot-password" onclick="showForgotPassword()">فراموشی رمز عبور؟</a>
                <button type="submit" class="login-button">ورود</button>
            </form>
        </div>
    </div>

    <div id="forgot-password-form" class="login-box" style="display: none;">
        <h2>فراموشی رمز عبور</h2>
        <input type="text" id="forgot-phone" placeholder="شماره تلفن را وارد نمایید" required>
        <button onclick="sendVerificationCode()">ارسال کد تایید</button>
        <a href="#" onclick="showLogin()">بازگشت به ورود</a>
    </div>

    <div id="enter-verification-code-form" class="login-box" style="display: none;">
        <h2>تایید کد</h2>
        <input type="text" id="verification-code" placeholder="کد تایید را وارد نمایید" required>
        <input type="password" id="new-password" placeholder="رمز عبور جدید" required>
        <input type="password" id="confirm-password" placeholder="تکرار رمز عبور جدید" required>
        <button onclick="changePassword()">تغییر رمز عبور</button>
    </div>

</body>
</html>



@section Script {
    <script src="/js/internal/auth.js"></script>
    <script src="/js/internal/messageShow.js"></script>

}
<script>
    const dashboardUrl = '@Url.Action("Dashboard", "Seller")';
</script>