body {
    font-family: 'Tahoma', sans-serif;
    background-color: #f0f6fd;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    direction: rtl;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
    text-align: center;
}

.logo {
    max-width: 120px;
    margin: 0 auto 20px;
}

h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

form input {
    width: 100%;
    padding: 11px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.captcha-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.captcha {
    max-height: 40px;
    margin-right: 10px;
}

.forgot-password {
    display: block;
    font-size: 12px;
    color: #007bff;
    margin-bottom: 20px;
    text-decoration: none;
    margin-left: 227px;
}

    .forgot-password:hover {
        text-decoration: underline;
    }

.login-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

    .login-button:hover {
        background-color: #0056b3;
    }

.captcha-container {
    width: 76%;
    display: flex;
    align-items: baseline;
}
.captcha-input{
    margin-left:10px;
}

.captcha-text {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 5px;
}

.refresh-captcha {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .refresh-captcha:hover {
        background-color: #45a049;
    }

.input-field {
    padding: 10px;
    margin: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: -23px;
}

.input-captcha {
    width: 50%;
}

.captcha-text {
    font-size: 11px;
    font-weight: bold;
    color: #4CAF50;
    background-color: #f1f1f1;
    padding: 11px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 8px;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

    .captcha-text:hover {
        background-color: #e0f7fa;
        transform: scale(1.05);
    }

.captcha-input {
    width: 76%;
}